* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif;
  color: #333;
}

a {
  color: #0682D7;
}

.hero {
  background-image: url('/images/quakebot-header.png');
  width: 100%;
  height: 500px;
  display: block;
  background-size: cover;
  background-repeat: none;
  position: relative;
}

.hero h1 {
  text-align: center;
  font-size: 4rem;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 1px #0682D7;
}

.about {
  margin: 4rem 0;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}
